<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=20170918" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css" />
    <link rel="stylesheet" href="/layui/css/layui.css">

    <script src="/layui/jquery-3.3.1.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/layui/layui.js"></script>

</head>
<body>
<div class="top">
    <div class="wrap">
        <div class="top-left" id="userstatus">您好，欢迎使用绿蚂蚁干线物流B2B平台！<a href="http://www.lvmae.com/member/login.php" rel="nofollow">登录</a><a href="http://www.lvmae.com/member/register.php" rel="nofollow">注册</a></div>
        <div class="top-right">
            <ul class="item-list">
                <li class="item">当前城市：</li>
                <li class="item top-area dropdown">
                    <div class="top-area-content dropdown-box">
                        <span class="main-color" id="selectArea">深圳</span>
                    </div>
                </li>
                <li class="item"><span class="icon icons-position"></span></li>
                <li class="item tel-app dropdown">
                    <div class="tel-app-content dropdown-box">
                        &nbsp;&nbsp;<span class="icons-photo"></span>&nbsp;<span>手机APP</span>&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                    </div>
                    <div class="menu">
                        <div class="ewm-box">
                            <p>扫描二维码<br>
                                下载安卓客户端</p>
                            <p><img src="http://www.lvmae.com/skin/default/images/ewm_1.jpg" alt="" width="98" height="98"></p>
                        </div>
                    </div>
                </li>
                <li class="item dropdown top-wx">
                    <div class="dropdown-box">
                        &nbsp;&nbsp;<span class="icons-wx"></span>&nbsp;微信号&nbsp;<span class="icons-arrow-down"></span>&nbsp;&nbsp;
                    </div>
                    <div class="menu">
                        <div class="ewm-box">
                            <p>扫描二维码<br>
                                关注绿蚂蚁公众号</p>
                            <p><img src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" alt="" width="98" height="98"></p>
                        </div>
                    </div>
                </li>
                <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" class="icons-qq" onclick="" target="_blank" title="点击这里给我发消息">&nbsp;</a></li>
                <li class="item"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" target="_blank">客户服务</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="header-content">
    <div class="wrap">
        <div class="logo icons-logo fl"><a href="http://www.lvmae.com/" title="上绿蚂蚁发货，说走就走">上绿蚂蚁发货，说走就走</a></div>
        <div class="icons-wuli fr" style="background-image:none;"><script type="text/javascript" src="http://www.lvmae.com/file/script/A47.js"></script></div>
    </div>
</div>

<ul class="layui-nav layui-bg-green" align="center" >
    <li class="layui-nav-item" ><a href="">首页</a></li>
    <li class="layui-nav-item" ><a href="">物流专线</a></li>
    <li class="layui-nav-item" ><a href="">在线发货</a></li>
    <li class="layui-nav-item" ><a href="">国际海运</a></li>
    <li class="layui-nav-item" ><a href="">物流公司</a></li>
    <li class="layui-nav-item" ><a href="">物流新闻</a></li>
    <li class="layui-nav-item" ><a href="">物流招标</a></li>
    <li class="layui-nav-item" ><a href="">在线购买</a></li>
    <li class="layui-nav-item" ><a href="">个人中心</a></li>
</ul>
<div class="substation-box">
    <div class="substation">
        <div class="sub-title">分站</div>
        <a class="sub-link-01" href="http://bj.lvmae.com/" target="_blank">北京</a>
        <a class="sub-link-01" href="http://sh.lvmae.com/" target="_blank">上海</a>
        <a class="sub-link-01" href="http://tj.lvmae.com/" target="_blank">天津</a>
        <a class="sub-link-01" href="http://gd.lvmae.com/" target="_blank">广东</a>
        <a class="sub-link-01" href="http://hb.lvmae.com/" target="_blank">河北</a>
        <a class="sub-link-01" href="http://shanxi.lvmae.com/" target="_blank">山西</a>
        <a class="sub-link-01" href="http://ln.lvmae.com/" target="_blank">辽宁</a>
        <a class="sub-link-01" href="http://jl.lvmae.com/" target="_blank">吉林</a>
        <a class="sub-link-01" href="http://js.lvmae.com/" target="_blank">江苏</a>
        <a class="sub-link-01" href="http://zj.lvmae.com/" target="_blank">浙江</a>
        <a class="sub-link-01" href="http://ah.lvmae.com/" target="_blank">安徽</a>
        <a class="sub-link-01" href="http://fj.lvmae.com/" target="_blank">福建</a>
        <a class="sub-link-01" href="http://jx.lvmae.com/" target="_blank">江西</a>
        <a class="sub-link-01" href="http://sd.lvmae.com/" target="_blank">山东</a>
        <a class="sub-link-01" href="http://henan.lvmae.com/" target="_blank">河南</a>
        <a class="sub-link-01" href="http://hubei.lvmae.com/" target="_blank">湖北</a>
        <a class="sub-link-01" href="http://hunan.lvmae.com/" target="_blank">湖南</a>
        <a class="sub-link-01" href="http://gx.lvmae.com/" target="_blank">广西</a>
        <a class="sub-link-01" href="http://hainan.lvmae.com/" target="_blank">海南</a>
        <a class="sub-link-01" href="http://zq.lvmae.com/" target="_blank">重庆</a>
        <a class="sub-link-01" href="http://sc.lvmae.com/" target="_blank">四川</a>
        <a class="sub-link-01" href="http://gz.lvmae.com/" target="_blank">贵州</a>
        <a class="sub-link-01" href="http://yn.lvmae.com/" target="_blank">云南</a>
        <a class="sub-link-01" href="http://xc.lvmae.com/" target="_blank">西藏</a>
        <a class="sub-link-01" href="http://sx.lvmae.com/" target="_blank">陕西</a>
        <a class="sub-link-01" href="http://gs.lvmae.com/" target="_blank">甘肃</a>
        <a class="sub-link-01" href="http://qh.lvmae.com/" target="_blank">青海</a>
        <div class="sub-more">更多<div class="sub-more-body"><a class="sub-link-01" href="http://nx.lvmae.com/" target="_blank">宁夏</a>
            <a class="sub-link-01" href="http://hlj.lvmae.com/" target="_blank">黑龙江</a>
            <a class="sub-link-01" href="http://nmg.lvmae.com/" target="_blank">内蒙古</a>
            <a class="sub-link-01" href="http://xj.lvmae.com/" target="_blank">新疆</a>
            <a class="sub-link-01" href="http://hk.lvmae.com/" target="_blank">香港</a>
            <a class="sub-link-01" href="http://tw.lvmae.com/" target="_blank">台湾</a>
            <a class="sub-link-01" href="http://am.lvmae.com/" target="_blank">澳门</a>
        </div></div>
    </div>
</div>
<div class="yb_conct" style="right: -127px;">
    <div class="yb_bar">
        <ul>
            <li class="yb_top">返回顶部</li>
            <li class="yb_phone">400-963-5600</li>
            <li class="yb_QQ">
                <a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA1NjQwNF8zNjU3MzlfODAwMDU2NDA0XzJf" title="">在线咨询</a>
            </li>
            <li class="yb_ercode" style="height: 53px;">微信二维码 <br>
                <img class="hd_qr" src="http://www.lvmae.com/skin/default/images/ewm_2.jpg" width="125" alt="绿蚂蚁公众号"> </li>
        </ul>
    </div>
</div>
        <!--内容-->
        <form class="layui-form layui-form-pane" action="">
            <center>

            <table align="center" >
                <tr style="height: 50px;">
                    <td>
                        <div class="layui-field-box" >
                            <div class="layui-form-item" style="margin-top: 10px">
                                <label class="layui-form-label">始发地：</label>
                                <div class="layui-input-inline" style="width: 100px">
                                    <select name="shengId" lay-filter="sheng" id="sheng">
                                        <option value="">请选择省</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" style="width: 100px">
                                    <select  name="shiId" lay-filter="shi" id="shi">
                                        <option value="">市</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" style="width: 100px">
                                    <select  name="startplace" lay-filter="xian" id="xian">
                                        <option value="" selected>区</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-input-inline" >
                            <input type="tel" name="phone" placeholder="公斤"  lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="layui-field-box" >
                            <div class="layui-form-item" style="margin-top: 10px">
                                <label class="layui-form-label">目的地：</label>
                                <div class="layui-input-inline" style="width: 100px">
                                    <select name="shengId" lay-filter="province" id="province">
                                        <option value="">请选择省</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" style="width: 100px">
                                    <select  name="shiId" lay-filter="city" id="city">
                                        <option value="">市</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline" style="width: 100px">
                                    <select  name="startplace" lay-filter="area" id="area">
                                        <option value="" selected>区</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="layui-input-inline" >
                            <input type="tel" name="phone" placeholder="立方米" lay-verify="required|phone" autocomplete="off" class="layui-input">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td >
                        <button class="layui-btn layui-btn-warm">即刻查询</button>
                    </td>
                </tr>
            </table>
            </center>

        </form>
<div class="layui-col-md8 layui-col-md-offset2" style="height: 40px;"  >
    <br>
    <div class="layui-col-md10" style="background:ghostwhite;margin-top:10px;height: 30px;" >
    当前位置：
<span class="layui-breadcrumb" lay-separator="—">
  <a href="">首页</a>
  <a href="">物流专线</a>

  <a href=""><span class="currlocation"></span></a>
</span>
    </div>
</div>

<div class="layui-col-md8 layui-col-md-offset2" style="height: 40px;"  >
    <div class="layui-col-md10" style="margin-top:10px;height: 30px;" >
        <font size="5"><b><span class="currlocation"></span>物流专线</b></font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <span id="currtime"></span>
    </div>
</div>

<div class="layui-col-md8 layui-col-md-offset2" style="height: 5px;"  >
</div>
<div class="layui-col-md8 layui-col-md-offset2" style="height: 100%;"  >
    <div class="layui-col-md9 " style="background:antiquewhite;height: 100px;"  >
        <br>
     服务范围：<span id="serverArea"></span>

    </div>

    <div class="layui-col-md3 "style="background:antiquewhite;height: 100px;align: center;"  >
        <!--right-->

    </div>

    <div class="layui-col-md9 " style="height: 100%;"  >
        <span id="companyList"></span>
        <div class="city-introduction">
            <p class="ci-recommend">&nbsp;&nbsp;&nbsp;&nbsp;绿蚂蚁物流搜索平台提供青岛市北区到郑州中牟县物流专线专线发货服务，青岛市北区到郑州中牟县物流公司，青岛市北区到郑州中牟县货运公司，青岛市北区到郑州中牟县运输公司，青岛市北区到郑州中牟县专线，青岛市北区到郑州中牟县专线物流，青岛市北区到郑州中牟县专线公司，青岛市北区到郑州中牟县物流，青岛市北区到郑州中牟县物流发货等，涵盖了100家物流公司；绿蚂蚁物流搜索平台物流专线货运发货说走就走，以客为尊，以诚为本，信誉第一；为客户提供高质量的物流发货服务，与客户携手共进，合作双赢！绿蚂蚁物流搜索平台为您的物流发货保驾护航。</p>
            <div class="ci-begin-city">

                <p class="ci-bc-text">&nbsp;&nbsp;&nbsp;&nbsp;2016年，青岛市物流业以提质增效为目标，突出抓好园区工程、重点项目、试点示范，物流业运行稳中向好，实现了“十三五”良好开局，年内荣获中国物流十大管理创新奖、“一带一路”建设突出贡献奖、跨境电商物流发展创新奖。据初步估算，青岛市去年实现社会物流总额28672.9亿元，同比增长5.9%；物流业增加值906亿元，占全市国内生产总值的比重为9%；社会物流总费用占生产总值比重为14.2%。</p>
            </div>
            <div class="ci-end-city">
                <p class="ci-ec-text">&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <div class="layui-col-md3 " style="height: 100%;"  >
        <br>

           <b><span id="right1"></span></b>
        <br>
           <b>VIP会员</b>
        <br>
            <b>回程物流专线</b> <br>
            <b><span id="right2"></span></b>
        <br>
           <span id="right3"></span>
        <br>
           <span id="right4"></span>
    </div>
</div>

<div class="footer">
    <div class="wrap">
        <p><a href="http://www.lvmae.com/news/lvmae/1339.html" target="_blank" rel="nofollow">绿蚂蚁介绍</a><span class="line">|</span><a href="http://www.lvmae.net/list-10-1.html" target="_blank" rel="nofollow">大事记</a><span class="line">|</span><a href="http://www.lvmae.net/list-14-1.html" target="_blank" rel="nofollow">公司动态</a><span class="line">|</span><a href="http://www.lvmae.net/list-13-1.html" target="_blank" rel="nofollow">媒体报告</a><span class="line">|</span><a href="http://www.lvmae.com/about/6.html" target="_blank" rel="nofollow">联系我们</a><span class="line">|</span><a href="http://www.lvmae.net/">绿蚂蚁官网</a></p>
        <p>Copyright © 绿蚂蚁干线<a href="http://www.lvmae.com">物流</a>B2B平台 All rights reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备14032800号-1</a></p>
    </div>
</div>
</body>
<script>
    $(function(){
        serviceArea();
        companyList ()
    })

    function serviceArea(){
        $.ajax({
            url:"serviceArea",
            type:"post",
            success:function(data){
                var  aa = "";
               for (var i=0;i<data.length;i++){
                   aa+= '<input type="radio">'+data[i].area+'&nbsp;&nbsp;'
               }
                $("#serverArea").html(aa);
            }
        })
    }
   function companyList (){


        $.ajax({
            url:"companyList",
            type:"post",
            success:function(data){
                var currtime ='';
                var count= "";
                var ss = '';
                var currlocation ='';
                for(var i=0;i<data.length;i++){
                    currlocation= data[1].startplace+'到'+data[1].endplace
                    currlocation2 = data[1].endplace+'到'+data[1].startplace+'物流专线'
                    count = data.length;
            ss+=
           '<div>'+
           '     <table>'+
           '     <tr>'+
           '     <td width="250px">'+data[i].startplace+'到'+data[i].endplace+'物流专线</td>'+
           '         <td width="100px">重货：面议</td>'+
           '     <td width="150px">运输时效：'+data[i].transtime+'</td>'+
           '     <td width="250px">'+data[i].companyName+
           '         </td>'+
           '         <td width="100px"><button type="button" class="layui-btn layui-btn-sm">联系发货</button></td>'+
           '     </tr>'+
           '     <tr>'+
           '     <td>'+data[i].shiId+'<i class="icons-arrow-left"></i>'+data[i].shiId2+
           '         </td>'+
           '         <td>轻货：面议</td>'+
           '     <td>最低一票：面议</td>'+
           '     <td>'+
           '     <i class="icon-zheng">证</i>'+
           '         <i class="icon-abc">物流公司</i>'+
           '         </td>'+
           '         <td><button class="layui-btn layui-btn-sm layui-btn-normal" type="button" style="width: 70px">热线</button>'+
           '     </td>'+
           '     </tr>'+
           '     </table>'+
           '     公司地址：'+
           '     <br>公司简介：'+data[i].gsjian+
           '<hr>'+
                ' </div>'
                }
                var date = new Date();
                var s = date.toLocaleDateString();
                currtime = s+"&nbsp;&nbsp;&nbsp;&nbsp;" + "共找到"+count+"家物流公司，"+count+"条线路"
                $(".currlocation").html(currlocation)
                $("#companyList").html(ss)
                $("#currtime").html(currtime)
                var ee = '<font><b>'+data[1].startplace+'推荐物流承运商</b></font>'
                $("#right1").html(ee)
                $("#right2").html(currlocation2)
                $("#right3").html(data[1].startplace+'物流公司')
                $("#right4").html(data[1].endplace+'物流公司')


            }
        })



    }

    layui.use('table', function () {
        var table = layui.table;
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var id = data.id;
            if (obj.event === 'del') {
                location.href="editLine?id="+id

            }
        })

    })


    //导航的hover效果、二级菜单等功能，需要依赖element模块
    layui.use('element', function () {
        var element = layui.element;
        element.init();// 一定要初始化
    });
    //输入框组
    layui.use('form',function () {
        var form = layui.form;
        form.render();

        $.post(
            "findProvinces",
            function (obj) {
                for (var i = 0; i < obj.length; i++) {
                    $("#sheng").append("<option value=" + obj[i].provinceid + ">" + obj[i].province + "</option>")
                    $("#province").append("<option value=" + obj[i].provinceid + ">" + obj[i].province + "</option>")
                }
                form.render("select");
            },
            "json"
        )

        //追加发货地的市
        form.on('select(sheng)', function (data) {
            $("#shi").empty();//当省发生改变把以前市区的数据清空
            $("#shi").append($("<option value='0'>请选择</option>"));//然后再追加一个请选择这样一个标签
            $("#xian").empty();//一起把以前县的数据清空
            $("#xian").append($("<option value='0'> 请选择</option>"));//然后再追加一个请选择这样一个标签
            if (data.value != 0) {
                $.post(
                    "findCity",
                    {provinceid: data.value},
                    function (obj) {
                        for (var i = 0; i < obj.length; i++) {
                            $("#shi").append("<option value=" + obj[i].cityid + ">" + obj[i].city + "</option>")
                        }
                        form.render("select");
                    },
                    "json"
                )
            }
        });

        //追加发货地的县
        form.on('select(shi)', function (data) {
            $("#xian").empty();//当市区发生该变把以前县的数据清空
            $("#xian").append($("<option value='0'> 请选择</option>"));
            $.post(
                "findArea",
                {cityid: data.value},
                function (obj) {
                    for (var i = 0; i < obj.length; i++) {
                        $("#xian").append("<option value=" + obj[i].areaid + ">" + obj[i].area + "</option>")
                    }
                    form.render("select");
                },
                "json"
            )
        })

        //2
        //追加发货地的市
        form.on('select(province)', function (data) {
            $("#city").empty();//当省发生改变把以前市区的数据清空
            $("#city").append($("<option value='0'>请选择</option>"));//然后再追加一个请选择这样一个标签
            $("#area").empty();//一起把以前县的数据清空
            $("#area").append($("<option value='0'> 请选择</option>"));//然后再追加一个请选择这样一个标签
            if (data.value != 0) {
                $.post(
                    "findCity",
                    {provinceid: data.value},
                    function (obj) {
                        for (var i = 0; i < obj.length; i++) {
                            $("#city").append("<option value=" + obj[i].cityid + ">" + obj[i].city + "</option>")
                        }
                        form.render("select");
                    },
                    "json"
                )
            }
        });

        //追加发货地的县
        form.on('select(city)', function (data) {
            $("#area").empty();//当市区发生该变把以前县的数据清空
            $("#area").append($("<option value='0'> 请选择</option>"));
            $.post(
                "findArea",
                {cityid: data.value},
                function (obj) {
                    for (var i = 0; i < obj.length; i++) {
                        $("#area").append("<option value=" + obj[i].areaid + ">" + obj[i].area + "</option>")
                    }
                    form.render("select");
                },
                "json"
            )
        })
    })



</script>
</html>