<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="/js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>

</head>
<body>
<form id="mongoForm" method="post">
    <input type="hidden"  name="zid"  th:value="${z?.zid}">
    <div class="form-group">
        <label for="proName">标题</label>
        <input type="text" class="form-control" th:value="${z?.title}"  name="title"  id="proName" placeholder="请输入标题">
    </div>
    <div class="form-group">
        <label for="proName">摘要</label>
        <input type="text" class="form-control" th:value="${z?.zhaiyao}"  name="zhaiyao"  id="proZhaiyao" placeholder="请输入摘要">
    </div>


    <div class="form-group">
        <label for="proDate">开始日期</label>
        <input class="form-control" id="proStartDate" name="startDate" th:value="${z?.startDate}"
               onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
    </div>
    <div class="form-group">
        <label for="proDate">结束日期</label>
        <input class="form-control" id="proDate" name="endDate"  th:value="${z?.endDate}"
               onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
    </div>

    <div class="form-group">
        <label for="proName">所属行业</label>
        <input type="text" class="form-control" th:value="${z?.hangye}"  name="hangye"  id="prohangye" placeholder="请输入行业">
    </div>
    <div class="form-group">
        <label for="proName">服务类型</label>
        <input type="text" class="form-control" th:value="${z?.zbtype}"  name="zbtype"  id="prozbtype" placeholder="请输入服务类型">
    </div>
     <input type="hidden" name="zhuangtai" value="1">
    <input type="hidden" name="dianji" value="0">
</form>
</body>

</html>