<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入bootstrap的css -->
    <link  href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="/js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="/js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="/js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="/js/fileinput/css/fileinput.min.css" />
    <!-- 引入jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入my97 -->
    <script type="text/javascript" src="/js/my97/WdatePicker.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="/js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="/js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="/js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="/js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="/js/fileinput/themes/fa/theme.js"></script>

</head>
<body>
<!--  条件查询的 form  表单  -->
<!-- 表单 -->
<form id="pro_from" class="form-inline">
    <br class="form-group">
        <label>状态</label>
        <select  id="proType" class="form-control">
            <option value="0" selected>请选择</option>
            <option value="1">通过</option>
            <option value="2">未审核</option>
            <option value="3">拒绝</option>
        </select>
       标题： <input type="text" name="title" id="titleid"></br>
    </div>
    <br>
    <button type="button" class="btn btn-success" onclick="search()">搜索</button>
    <button type="button" class="btn btn-primary" onclick="reset()">重置</button>
</form>
<button type="button" class="btn btn-info btn-lg" onclick="editTable()">编辑</button>
<button type="button" class="btn btn-info btn-lg" onclick="deleteAll()">批量删除</button>
<table id="bootTab"></table>
</body>
<script type="text/javascript">
    $(function (){
        $("#bootTab").bootstrapTable({
            url:"findZhaoBiao",
            method:"post",
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect:true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect:true,
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "newsId",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            //发送到服务器的数据编码类型
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar:'#tabToolBar',   //  工具定义位置
            columns:[
                {field:'zid',width:100,
                    formatter:function(value,row,index){   //  格式化  当前单元格内容
                        return "<input type='checkbox' value="+value+" name='chk'/>";
                    }
                },
                {field:'title',title:'标题',width:100},
                {field:'zbtype',title:'类型',width:100},      //  列    field   代表是 后台  传过来的值
                {field:'hangye',title:'行业',width:100},
                {field:'startDate',title:'开始时间',width:100},
                {field:'endDate',title:'结束时间',width:100},
                {field:'zhuangtai',title:'状态',width:100,
                    formatter: function (value,row,index){
                        var str="";
                        if(value ==1){
                            str = "通过";
                        } if(value ==2){
                            str = "未审核";
                        } if(value ==3){
                            str = "拒绝";
                        }
                        return str;
                    }},
                {field:'dianji',title:'点击量',width:100},
                {field:'luruDate',title:'录入时间',width:100}
               /* {field:'xxxx',title:'操作',formatter: function(value,row,index){
                        var content = "<a href='javascript:update(&quot;"+row.zid+"&quot;)'>修改</a>";
                        return content;
                    },width:$(this).width() * 0.2}*/
            ],
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            //search:true,
            //启动回车键做搜索功能
            searchOnEnterKey:true,
            //分页方式   后台请求的分页方式
            sidePagination:'server',
            pagination: true,                  //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 3,                       //每页的记录行数（*）
            pageList: [1,3, 6, 9,12],        //可供选择的每页的行数（*）
            //传递参数（*）
            queryParams: function(params) {
                var whereParams = {
                    /*
                        分页  自定义的参数         默认传 limit（展示几条）    offset（从第几条开始    起始条数）
                    */
                    "pageSize":params.limit,
                    "start":params.offset,

                }
                return whereParams;
            },
        });
    })

    function  search(){
        $("#bootTab").bootstrapTable("refresh",{
            "query":{
                "zbtype":$("#proType").val(),
                 "title":$("#titleid").val(),
            }
        });

    }

    function editTable(){
        var chk=$("input[name='chk']:checked");

        if(chk&&chk.length==1){
            dialog("findBootDialogById?zid="+chk[0].value,"saveMongo","修改");

        }
        else if(chk.length==0){
            dialog("findBootDialogById","saveMongo","新增");

        }
    }

    function deleteAll(){
        var chk=$("input[name='chk']:checked");
        var id="";
        if(chk&&chk.length>0){
            for (var i = 0; i < chk.length; i++) {
                id +=chk[i].value+"," ;
            }
            if(confirm("您确定要删除这些数据吗？")){
                $.ajax({
                    url:"deleteAll?zid="+id,
                    type:"post",
                    success:function(){

                        $("#bootTab").bootstrapTable('refresh');
                    },error:function(){
                    }
                });
            }
        }else{
            alert("请选择删除对象");
        }
    }

    /*
    *发送ajax请求获取jsp页面内容
    */
    function getJspHtml(urlStr){
        var  jspHtml = "";
//		 async  (默认: true) 默认设置下，所有请求均为异步请求。如果需要发送同步请求，请将此选项设置为 false。
        //注意，同步请求将锁住浏览器，用户其它操作必须等待请求完成才可以执行。
        $.ajax({
            url:urlStr,
            type:'post',
            //同步的ajax
            async:false,
            success:function(data){
                //alert(data);//data--addProduct.jsp页面内容
                jspHtml = data;
            },
            error:function(){
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }

    function  dialog(HTMLurl,submitUrl,title){

        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "save":{
                    label: '保存',
                    //自定义样式
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            url:submitUrl,
                            type:'post',
                            data:$("#mongoForm").serialize(),
                            success:function(data){
                                bootbox.alert("保存成功");

                                $("#bootTab").bootstrapTable('refresh');
                                location.reload();
                            },
                            error:function(){
                                bootbox.alert("ajax失败");
                            }
                        });
                    }
                },
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //dialog不关闭
                    }
                }
            }
        });
    }


</script>
</html>