<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>


</head>

<style type="text/css">
    .layui-laydate-content>.layui-laydate-list {
        padding-bottom: 0px;
        overflow: hidden;
    }
    .layui-laydate-content>.layui-laydate-list>li{
        width:50%
    }

    .merge-box .scrollbox .merge-list {
        padding-bottom: 5px;
    }

</style>
<link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/companydetail.css"/>

    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <script src="/layui/layui.js"></script>
    <script src="/layui/jquery-3.3.1.js"></script>

<script type="text/javascript" src="http://www.lvmae.com/file/script/index/main.js" charset="UTF-8"></script>
<body>
<span id="span1"></span>--<span id="span2"></span>
<input type="hidden" th:value="${c.startCity}" id="a"/>
<input type="hidden" th:value="${c.endCity}" id="b" />
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show" align="center">
       <!-- <input type="text" style='border:0' th:value="${c.names}"/>
        <span id="span1"></span>-->
    </div>


    <div class="c-left">

        <!--公司基本信息 start-->
        <div class="company-infor" style="width: 1000px">
            <div class="com-decoration">

                    <img alt="广州市兢业物流有限公司" src="http://www.lvmae.com/file/upload/201705/24/17-52-06-79-37661.jpg"/>

                <dl>
                    <input type="hidden" id="cId" th:value="${c.companyId}"/>
                    <input type="hidden" id="companyName" th:value="${c.companyName}"/>
                    <input type="hidden" id="zhucetime" th:value="${c.zhucetime}"/>
                    <input type="hidden" id="count" th:value="${c.count}"/>
                    <input type="hidden" id="gspople" th:value="${c.gspople}"/>
                    <input type="hidden" id="companyPhone" th:value="${c.companyPhone}"/>
                    <input type="hidden" id="address" th:value="${c.address}"/>
                    <input type="hidden" id="price" th:value="${c.price}"/>


                    <dt><span id="span3"></span></dt>
                    <dd><span class="lt">服务保障：</span><span>
                        <i class="icon-zheng" title="该会员经过绿蚂蚁实地认证，安全可靠">证</i>
                        <i class="icon-abc" title="该承运商的资信评级为AAA">AAA</i>
                            </span></dd>
                    <dd><span class="lt">认证类型：</span><span>营业执照已认证</span></dd>
                    <dd><span class="lt">注册时间：</span><span id="span4"></span></dd>
                    <dd><span class="lt">服务线路：</span><span id="span5"></span></dd>
                    <dd><span class="lt">联&nbsp;&nbsp;系&nbsp;&nbsp;人：</span><span id="span6"></span></dd>
                    <dd><span class="lt">联系电话：</span>
                              <span id="span7"></span>                  </dd>
                    <dd><span class="lt">联系地址:</span><span id="span8"></span>  </dd>
                </dl>
            </div>
            <div class="line-infor">
                <div class="line-update">
                    <span class="time"></span><span class="browse-num">浏览2185次</span><a id="collect" type_id="1" class="sc-btn" href="javascript:;" target="_blank"><span id="collect2">已收藏</span></a>
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:right;">
                        <span class="bds_more" style="height: 20px;padding-top: 0px;">分享到：</span> <a class="bds_qzone" title="分享到QQ空间" href="#"></a>
                        <a class="bds_tsina" title="分享到新浪微博" href="#"></a> <a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
                        <a class="bds_renren" title="分享到人人网" href="#"></a> <a class="bds_t163" title="分享到网易微博" href="#"></a>
                        <a class="shareCount" href="#" title="累计分享0次">0</a>
                        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6725816" src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=432769"></script>
                        <script type="text/javascript">
                            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
                        </script>
                    </div>
                </div>
                <!--发车时刻 start-->
                <ul class="timeTable">
                    <li><label>今日发车时刻</label>详情咨询承运商</li>
                    <li><label>明日发车时刻</label>详情咨询承运商</li>
                </ul>
                <!--发车时刻 end-->
                <ul class="l1">
                    <li class="item"><span class="bold">运输方式：</span><span>零担运输</span></li>
                    <li class="item"><span class="bold">运输时效：</span>24-72&nbsp;小时<em>注：发货时效从第2天08:00开始计算</em></li>
                    <li class="item"><span class="bold">运输价格：</span><span id="span9"></span></li>
                    <li class="item" style="color:#ff1200;">注：此价格与时效仅供参考，准确报价以物流承运商实际费用为准</li>
                </ul>
                <a href="javascript:LianxiFahuo()" class="fah-btn" target="_blank">联系发货</a>
                <p style="color:red;margin-top:10px;font-size: 14px;">*本平台仅向您提供物流服务信息，您在物流运输过程中出现的任何风险、损失，均与平台无关。</p>
            </div>
        </div>
        <!--公司基本信息 end-->
        <!--增值服务 start-->
        <div class="value-add">
            <b>增值服务：</b>
        </div>
        <!--增值服务 end-->
        <!--注意事项 start-->
        <div class="notice">
            <b>注意事项：</b>
            <label><input checked="checked" type="checkbox"/><img src="http://www.lvmae.com/skin/default/image/icon_bkdz.jpg"/>不可倒置</label>
            <label><input checked="checked" type="checkbox"/><img src="http://www.lvmae.com/skin/default/image/icon_bkcf.jpg"/>不能分拆</label>
            <label><input checked="checked" type="checkbox"/><img src="http://www.lvmae.com/skin/default/image/icon_bkdd.jpg"/>不能堆叠</label>
            <label><input checked="checked" type="checkbox"/><img src="http://www.lvmae.com/skin/default/image/icon_fz.jpg"/>防撞</label>
            <label><input checked="checked" type="checkbox"/><img src="http://www.lvmae.com/skin/default/image/icon_fys.jpg"/>防易碎</label>
            <label><input checked="checked" type="checkbox"/><img src="http://www.lvmae.com/skin/default/image/icon_fqx.jpg"/>防倾斜</label>
        </div>

        <h3 class="transaction"><span>成交记录</span></h3>
        <div class="company-order" >
            <table  class="layui-hide" lay-filter="user" id="test-table-simple"></table>
        </div>
        <!--成交订单 end-->
    </div>
</div>


</body>
<script>
   $(function () {
       $("#span1").html($("#a").val())
       $("#span2").html($("#b").val())
       $("#span3").html($("#companyName").val())
       $("#span4").html($("#zhucetime").val())
       $("#span5").html($("#count").val())
       $("#span6").html($("#gspople").val())
       $("#span7").html($("#companyPhone").val())
       $("#span8").html($("#address").val())
       $("#span9").html($("#price").val())
   })
       layui.use(['table'], function(){
           var table = layui.table;

           table.render({
               elem: '#test-table-simple'
               ,url: 'getyesjilu'
               ,cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
               ,cols: [ [
                    {field:'phone', width:130,
                        templet:function(d){
                            return "&nbsp;&nbsp; &nbsp; &nbsp;"+d.phone;
                        },
                        title: '用户手机号', sort: true}
                   ,{field:'', width:130,
                       templet:function(d){
                            return "&nbsp;&nbsp; &nbsp; &nbsp;"+d.cargoName;
                       },
                       title: '货物名称'}
                   ,{field:'',
                       templet:function(d){
                           return "&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;"+d.cargoPrice;
                       },width:100, title: '单价', sort: true}
               ] ]
           });
       });
    function LianxiFahuo(id){
        var cid = $("#cId").val();
        location.href="/tocargoShow?cid="+cid;
    }

   function shijian(){

       var day3=$("#totay");
       var days=$("#totays");
       var day4=$("#totays").val();
       var day=$("#totay").val();
       var day1=day.substring(10,16);
       var day5=day4.substring(10,16);
       day3.val(day1);
       days.val(day5);
   }
</script>
</html>