<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>

<link rel="stylesheet" href="/layui/css/layui.css" />
<script src="/layui/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<body>
<center>
    <form  class="layui-form layui-form-pane" action="">
   <div style="width: 200px;">
    <div class="layui-upload">
        <label class="layui-form-label" style="width: 100px">营业执照:</label>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="dem1" width="150px"/>
            <input type="file" name="goodsImg" id="wen1"/>
            <input type="hidden" name="yingye" id="yingye">
        <button type="button" class="layui-btn site-demo-active" id="shang1" data-type="setPercent" >上传</button>
        </div>
    </div>

    <div class="layui-upload" >
    <label class="layui-form-label" style="width: 100px">负责人身份证:</label>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="dem4" width="150px"/>
            <input type="file" name="goodsImg" id="wen4"/>
            <input type="hidden" name="fuzeren" id="fuzeren">
            <button type="button" class="layui-btn" id="shang4" data-type="loading">上传</button>
        </div>
    </div>
    <div class="layui-upload" >
        <label class="layui-form-label" >税务登记证:</label>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="dem3" width="150px"/>
            <input type="file" name="goodsImg" id="wen3"/>
            <input type="hidden" name="shuiwu" id="shuiwu">
            <button type="button" class="layui-btn" id="shang3" data-type="loading">上传</button>
        </div>
    </div>


    <div class="layui-upload">
        <label class="layui-form-label" style="width: 100px">道路运输许可证:</label>
        <div class="layui-upload-list">
            <img class="layui-upload-img" id="dem2" width="150px"/>
            <input type="file" name="goodsImg" id="wen2"/>
            <input type="hidden" name="daolu" id="daolu">
            <button type="button" class="layui-btn" id="shang2" data-type="loading">上传</button>
        </div>
    </div>


</div>
        <div class="layui-form-item">
            <div class="layui-input-block" >

                <button class="layui-btn" lay-submit="" lay-filter="formDemo" type="button">保存</button>

                注：修改后要经过审核才可生效
            </div>

        </div>
        <input type="hidden" th:value="${id}" id="id">
    </form>
</center>
</body>
<script>

    layui.use('form',function (){
        var form =layui.form;
        form.render();

        form.on('submit(formDemo)', function(data){
            var id=$("#id").val();
            $.ajax({
                url:"/addtupian?id="+id,
                data:data.field,
                type:"post",
                success:function (msg) {
                    alert("成功");

                },error:function () {

                }
            })
        })
    })
</script>
<script>

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            elem: '#wen1'
            ,url: 'imgUpload'
            ,auto: false
            //,multiple: true
            ,choose: function(obj){
                console.log(obj)
                //预读本地文件示例，不支持ie8

                obj.preview(function(index, file, result){
                    $('#dem1').attr('src', result); //图片链接（base64）
                    $('#dem1').attr('value', result); //图片链接（base64）
                    $("#yingye").val($("#wen1").val())

                });
            }
            ,bindAction: '#shang1'
            ,done: function(res){
                console.log(res)
                return layer.msg(res.msg,{icon: res.status,time: 2000});
            }
        });

    });
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            elem: '#wen2'
            ,url: 'imgUpload'
            ,auto: false
            //,multiple: true
            ,choose: function(obj){
                console.log(obj)
                //预读本地文件示例，不支持ie8

                obj.preview(function(index, file, result){
                    $('#dem2').attr('src', result); //图片链接（base64）
                    $('#dem2').attr('value', result); //图片链接（base64）
                    $("#daolu").val($('#wen2').val())
                });
            }
            ,bindAction: '#shang2'
            ,done: function(res){
                console.log(res)
                return layer.msg(res.msg,{icon: res.status,time: 2000});
            }
        });

    });

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            elem: '#wen3'
            ,url: 'imgUpload'
            ,auto: false
            //,multiple: true
            ,choose: function(obj){
                console.log(obj)
                //预读本地文件示例，不支持ie8

                obj.preview(function(index, file, result){
                    $('#dem3').attr('src', result); //图片链接（base64）
                    $('#dem3').attr('value', result); //图片链接（base64）
                    $("#shuiwu").val($('#wen3').val())
                });
            }
            ,bindAction: '#shang3'
            ,done: function(res){
                console.log(res)
                return layer.msg(res.msg,{icon: res.status,time: 2000});
            }
        });

    });

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            elem: '#wen4'
            ,url: 'imgUpload'
            ,auto: false
            //,multiple: true
            ,choose: function(obj){
                console.log(obj)
                //预读本地文件示例，不支持ie8

                obj.preview(function(index, file, result){
                    $('#dem4').attr('src', result); //图片链接（base64）
                    $('#dem4').attr('value', result); //图片链接（base64）

                    $("#fuzeren").val($('#wen4').val())
                });
            }
            ,bindAction: '#shang4'
            ,done: function(res){
                console.log(res)
                return layer.msg(res.msg,{icon: res.status,time: 2000});
            }
        });

    });


</script>
</html>